.grid_2
  = f.label :number
  = f.text_field :number, :size => 20
.grid_4.suffix_5
  = f.collection_select :phone_type_id, PhoneType.all, :id, :name, :prompt => "Select Type"
  = f.link_to_remove "Remove Number"
.clear