.grid_1.prefix_1
  = f.label :number, "Number"
.grid_2
  = f.telephone_field :number, :size => 20
.grid_2
  = f.collection_select :phone_type_id, PhoneType.all, :id, :name, :prompt => true
.grid_1.suffix_5
  = f.link_to_remove "Remove"
.clear