.control-group
  = f.label "Phone Number", class: 'control-label'
  .controls
    = f.text_field :number, :class => 'text_field'
    = f.collection_select :phone_type_id, PhoneType.all, :id, :name, :prompt => "Select Type", class: 'select_type'
    / = f.link_to_remove "Remove Number"
