.grid_12
  %h1 User birthdates

  - @user_months.sort.each do |month, user|
    %b
      - case month
        - when 1
          January
        - when 2
          February
        - when 3
          March
        - when 4
          April
        - when 5
          May
        - when 6
          June
        - when 7
          July
        - when 8
          August
        - when 9
          September
        - when 10
          October
        - when 11
          November
        - when 12
          December
    %table
      %tr
        %th Name 
        %th Birthdate
      - user.each do |user|
        %tr{:class => cycle('rowA', 'rowB')}
          %td= link_to user.full_name, user
          %td= user.birthdate.strftime("%B %d")
    %br
