.grid_12 
  %h1 About
.grid_6
  I am hoping that this site will eventually be useful for my family to maintain a current list of everyone's details. I realize that much of the functionality here is currently available on Facebook or other such sites, but I am mainly using this as a tool to learn Ruby on Rails so that is ok. I also think that many people do not want to enter personal data on Facebook and so this will be a safer location to keep that information. It is definitely a work in progress so please let me know of any bugs or features that you would like to see added. You can reach me 
  = mail_to "joshbegin@gmail.com", "here", encode: "hex"
  = "."